.strong-earthquake {
    font-size: 20px;
    color: red;
}

.weak-earthquake {
    font-size: 20px;
    color: green;
}

.custom-pin {
    margin-left: -10px;
    margin-top: -10px;
    z-index: 1;
}